body{
    background-image: url("backgrounds/journal3.png");
    background-repeat: no-repeat;
    background-size: cover;              /* Fill screen */
    background-position: center center;
    height: 100vh;
    width: 100vw;
}

.journal{
    background-image: url("backgrounds/journalS.png");
}