body{
    background-image: url("backgrounds/journalPage.png");
    background-repeat: no-repeat;
    background-size: cover;              /* Fill screen */
    background-position: center center;
    height: 100vh;
    width: 100vw;
    font-family: Roboto, sans-serif;
}

.journal{
    background-image: url("backgrounds/journalS.png");
}

.moodJournal{
    position: absolute;
    top: 10%;
    left: 7.5%;
    border-radius: 10px;
    padding-left: 2%;
    padding-right: 2%;
    width: 45%;
    background-color: rgba(253, 253, 253,0.5);
}

#chart {
    width: 90%;
    max-width: 700px;
    margin: 2rem auto;
    margin-left: 43rem;
    padding-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
canvas {
    width: 300px !important;
    height: 300px !important;
}
