body{
    background-image: url("backgrounds/list3.png");
    background-repeat: no-repeat;
    background-size: cover;              /* Fill screen */
    background-position: center center;
    height: 100vh;
    width: 100vw; overflow: hidden; font-family: Roboto, sans-serif;
}

#allLists {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 7rem;
    box-sizing: border-box;
}

.list1, .list2, .list3, .list4 {
    border-radius: 10px;
    padding: 1rem; padding-top: 0.5rem;
    margin: 1rem;
    width: 12vw; /* adjust to fit screen */
    min-width: 200px;
    max-width: 300px;
}

.lists{
    background-image: url("backgrounds/listS.png");
}